/**
 * -----------------------------------------------------------------------------
 * File: config/colors
 * -----------------------------------------------------------------------------
 */

$color-black:   #000000;
$color-white:   #ffffff;
$color-light:   #f1f1f1;
$color-medium:  #737373;
$color-grey:    #dedede;
$color-orange:  #FF6A00;

// Notification colors
$color-success:   #70AE6E !default;
$color-info:      #009DDC !default;
$color-warning:   #f0ad4e !default;
$color-danger:    #DA2C38 !default;

