/**
 * -----------------------------------------------------------------------------
 * File: layout/landing
 * -----------------------------------------------------------------------------
 */

section.landing-intro {
  position: relative;

  h1 {
    margin-bottom: $space-6x;
    @include bp-sm() {
      margin-bottom: $space-8x;
    }
  }

  p {
    // padding-left: $space-6x;
    // padding-right: $space-6x;
    
    @include bp-sm() {
      padding-left: $space-24x;
      padding-right: $space-24x;
    }

    @include bp-md() {
      padding-left: $space-12x;
      padding-right: $space-12x;
    }
  }

  .landing-intro__list {
    margin: 0 auto;

    ul {
      list-style: disc;
      margin: 0 0 0 $space-4x;
      padding: 0;
      margin-bottom: $space-4x;
  
      @include bp-sm() {
        margin-left: $space-2x;
        margin-bottom: $space-6x;
      }
  
      @include bp-md() {
        margin-bottom: $space-8x;
      }
    }

    li {
      display: list-item;
      margin-bottom: $space-2x;
      padding-left: $space-2x;
      padding-right: $space-6x;

      &::marker {
        color: $color-orange;
      }

      @include bp-sm() {
        margin-left: $space-27x;
        padding-right: $space-24x;
      }
  
      @include bp-md() {
        margin-left: $space-17x;
        padding-right: $space-12x;
      }

    }
  }

  .landing-intro__badge {
    border-radius: 500px;
    color: $color-orange;
    text-align: center;
    text-decoration: none;
    z-index: 500;

    @include bp-sm() {
      align-items: center;
      background-color: $color-orange;
      border-radius: 50%;
      color: $color-white;
      display: flex;
      @include font-size($fs-xs);
      height: 180px;
      justify-content: center;
      position: absolute;
      right: -60px;
      top: -60px;
      width: 180px;
    }

    @include bp-md() {
      height: 205px;
      top: -60px;
      right: -60px;
      width: 205px;
    }

    span {
      display: block;
      padding: $space-4x $space-6x $space-7x $space-6x;

      em {
        display: block;
        @include font-size($fs-xs);
      }      
      
      @include bp-sm() {
        padding: $space-6x;
        transform: rotate(-12deg);
        em {
          @include font-size($fs-xxs);
        }
      }
    }
  }

  .landing-intro__visual {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    margin: $space-8x auto;
    max-width: 480px;
    width: 100%;

    @include bp-sm() {
      margin-bottom: $space-16x;
      margin-top: $space-20x;
      max-width: 480px;
    }

    @include bp-md() {
      max-width: 560px;
      margin-top: $space-24x;
    }

    img {
      @extend %is-responsive;
      filter: drop-shadow(0 4px 39px rgba(0, 0, 0, 0.5));
      border: 24px solid $color-white;
    }
  }
} 

// html lang="fr"

[lang="fr"] section.landing-intro .landing-intro__badge {
  @include bp-sm() {
    height: 205px;
    width: 205px;

    span {
      padding-left: $space-8x;
      padding-right: $space-8x;
    }
  }

  @include bp-md() {
    height: 230px;
    width: 230px;

    span {
      padding: $space-4x $space-6x $space-7x $space-6x;
    }
  }
}

[lang="it"] section.landing-intro .landing-intro__badge {
  @include bp-sm() {
    height: 190px;
    width: 190px;
  }

  @include bp-md() {
    height: 215px;
    width: 215px;
  }
}




section.landing-order,
section.landing-participate {
  margin-top: $space-8x;

  @include bp-sm() {
    margin-top: $space-16x;
  }

  p {
    // padding-left: $space-6x;
    // padding-right: $space-6x;
    
    @include bp-sm() {
      padding-left: $space-24x;
      padding-right: $space-24x;
    }

    @include bp-md() {
      padding-left: $space-12x;
      padding-right: $space-12x;
    }
  }
}

section.landing-participate {
  margin-bottom: $space-4x;

  @include bp-sm() {
    margin-bottom: $space-6x;
  }

  @include bp-md() {
    margin-bottom: $space-8x;
  }
}

section.landing-order {

  .order-form {
    margin: $space-4x 0;

    @include bp-sm() {
      margin: $space-8x 0;
    }

    h3 {
      @include font-bold();
      @include font-size($fs-md);
      line-height: 1.2;
      margin-bottom: $space-8x;
      text-align: left;

      &:not(:first-of-type) {
        margin-top: $space-12x;
      }
    }

    > div {
      margin-left: auto;
      margin-right: auto;
      max-width: 640px;
    }
  }
}

section.landing-app {
  
  > div {
    @extend %content-block-wide;
  }

  .landing-form {
    > div {
      margin-left: auto;
      margin-right: auto;
      max-width: 640px;
    }
  }
  
  .landing-posts {
    margin-top: $space-16x;
    
    @include bp-sm() {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-gap: $space-8x;
      margin-top: $space-20x;
    }
  
    @include bp-md() {
      grid-template-columns: repeat(3, 1fr);
      grid-gap: $space-12x;
    }

    @include bp-lg() {
      grid-template-columns: repeat(4, 1fr);
    }
  }

  .landing-posts-btn {
    display: flex;
    justify-content: center;
    margin-top: $space-12x;

    @include bp-md() {
      margin-top: $space-18x;
    }
  }

  .landing-post {
    align-items: center;
    background-color: rgba(101, 133, 177, .8);
    display: flex;
    height: 100%;
    justify-content: center;
    left: 0;
    top: 0;
    position: fixed;
    width: 100%;
    z-index: 700;

    > div {
      max-width: 340px;
      @include bp-sm() {
        max-width: 400px;
      }
    }

    .post {
      margin-top: $space-12x;
      
      @include bp-sm() {
        margin-top: 0;
      }
    }
  }
  
  .post {
    background-color: $color-white;
    color: $color-black;
    filter: drop-shadow(0 4px 39px rgba(0, 0, 0, 0.5));
    @include font-size($fs-xxs);
    margin-bottom: $space-12x;
    margin-left: auto;
    margin-right: auto;
    max-width: 360px;
    padding: $space-4x $space-6x;
    position: relative;

    @include bp-sm() {
      margin-bottom: 0;
      max-width: none;
    }
  
    header {
      > div {
        align-items: center;
        display: flex;
        justify-content: space-between;
        margin-bottom: $space-3x;
  
        a {
          align-items: center;
          color: $color-black;
          display: flex;
          @include font-bold();
          
          svg {
            display: block;
            height: auto;
          }
  
          &.icon-vote {
            svg {
              margin-right: $space-2x;
              width: 32px;
            }
          }
  
          &.icon-share {
            svg {
              margin-left: $space-2x;
              width: 21px;
            }
          }
        }
      }
    }
  
    img {
      @extend %is-responsive;
      height: auto;
      margin-bottom: $space-3x;
    }
  
    figcaption {
      display: block;
      @include font-size($fs-xs);
      padding: $space-1x 0;
  
      .post__message {
        margin-top: $space-3x;
      }
    }
  
    &.post--preview {
      max-width: 480px;
      margin-bottom: $space-12x;

      @include bp-md() {
        margin-bottom: $space-20x;
      }
        
      a.icon-trash  {
        align-items: center;
        background-color: rgba(0, 0, 0, .6);
        border-radius: 500px;
        color: $color-white;
        display: flex;
        @include font-regular();
        @include font-size($fs-xxs);
        padding: $space-1x $space-3x;
        transition: color .1s ease-in;

        &:hover {
          color: $color-orange;
        }
      }

      header {
        color: $color-orange;
        display: block;
        @include font-bold();
        @include font-size($fs-sm);
        margin-bottom: $space-4x;
      }
    }
  }

  .share {
    background-color: $color-white;
    bottom: 0;
    border-top: 3px solid $color-orange;
    height: 100px;
    left: 0;
    position: fixed;
    width: 100%;
    z-index: 900;

    @include bp-sm() {
      border-radius: 20px;
      border: 5px solid $color-orange;
      height: 180px;
      left: 50%;
      top: 50%;
      transform: translate(-50%,-50%);
      width: 560px;
    }

    a {
      display: block;
      svg {
        @extend %is-responsive;
      }
    }

    header {
      position: relative;

      a.icon-close {
        right: 16px;
        position: absolute;
        top: -18px;

        @include bp-sm() {
          top: -30px;
          right: 40px;
        }
      }
    }

    > div {
      align-items: center;
      display: flex;
      height: inherit;
      justify-content: center;
      width: inherit;

      > div.share__icons {
        display: flex;
        justify-content: space-between;
        padding-left: $space-8x;
        padding-right: $space-8x;
        width: 100%;

        @include bp-sm() {
          justify-content: space-evenly;
          padding-left: 0;
          padding-right: 0;
        }

        a {
          align-items: center;
          display: flex;
          flex-direction: column;
          justify-content: center;

          @include bp-sm() {
            justify-content: flex-end;
          }

          svg {
            display: inline-block;
            width: 36px;

            @include bp-sm() {
              width: 50px;
            }
          }

          label {
            color: $color-black;
            display: none;
            @include font-bold();
            @include font-size($fs-xxs);
            line-height: 1 !important;
            padding-top: $space-3x;

            @include bp-sm() {
              display: block;
            }
          }
        }
      }
    }


  }
}