/**
 * -----------------------------------------------------------------------------
 * File: component/headings/global
 * -----------------------------------------------------------------------------
 */

h1, h2, h3 {
  color: $color-white;
  margin: 0;
  text-align: center;
}
