/**
 * -----------------------------------------------------------------------------
 * File: config/typo
 * -----------------------------------------------------------------------------
 *
 *
 */

 $fs-tiny: (
  null: (10px,1),
  sm:   (10px,1),
  md:   (10px,1),
  lg:   (10px,1),
);

$fs-xxs: (
  null: (12px,1.225),
  sm:   (12px,1.225),
  md:   (14px,1.225),
  lg:   (14px,1.225),
);

$fs-xs: (
  null: (14px,1.225),
  sm:   (14px,1.225),
  md:   (16px,1.225),
  lg:   (16px,1.225),
);

$fs-sm: (
  null: (16px,1.225),
  sm:   (16px,1.225),
  md:   (20px,1.225),
  lg:   (20px,1.225),
);

$fs-md: (
  null: (21px,1.225),
  sm:   (21px,1.225),
  md:   (28px,1.225),
  lg:   (28px,1.225),
);

$fs-lg: (
  null: (24px,1.225),
  sm:   (28px,1.225),
  md:   (38px,1.225),
  lg:   (38px,1.225),
);

$fs-xl: (
  null: (36px,1.1),
  sm:   (36px,1.1),
  md:   (48px,1.1),
  lg:   (48px,1.1),
);
