/**
 * -----------------------------------------------------------------------------
 * File: form/select
 * -----------------------------------------------------------------------------
 */

.select-wrapper {
  background-color: transparent;
  background-color: $color-white;
  border-radius: 500px;
  display: block;
  position: relative;
  width: 100%;

  &.is-sm {
    max-width: 480px;
  }

  @include bp-sm() {
    max-width: 55%;
  }

	&:after {
    @include background-default();
    background-image: url($url-icons + 'chevron-down.svg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 18px auto;
    content: '';
    height: 100%;
    right: 20px;
    padding: 0 5px;
    position: absolute;
    top: 0;
    width: 32px;
    z-index: 0;
	}

	select {
    background-color: transparent !important;
    display: block;
    @include font-size($fs-sm);
    @include font-bold();
    padding: $space-3x $space-5x $space-3x $space-6x;
    width: 100%;
    @include bp-sm() {
      padding-left: $space-12x;
    }
    &:hover {
      cursor: pointer;
    }
  }
}