/**
 * -----------------------------------------------------------------------------
 * File: config/typo
 * -----------------------------------------------------------------------------
 *
 *
 */

$fs-tiny: (
  null: (14px,1),
  sm:   (14px,1),
  md:   (14px,1),
  lg:   (14px,1),
);

$fs-xxs: (
  null: (16px,1.225),
  sm:   (16px,1.225),
  md:   (16px,1.225),
  lg:   (16px,1.225),
);

$fs-xs: (
  null: (16px,1.225),
  sm:   (18px,1.225),
  md:   (20px,1.225),
  lg:   (20px,1.225),
);

$fs-sm: (
  null: (18px,1.35),
  sm:   (18px,1.35),
  md:   (24px,1.35),
  lg:   (24px,1.35),
);

$fs-md: (
  null: (21px,1.225),
  sm:   (21px,1.225),
  md:   (28px,1.225),
  lg:   (28px,1.225),
);

$fs-lg: (
  null: (24px,1.225),
  sm:   (28px,1.225),
  md:   (38px,1.225),
  lg:   (38px,1.225),
);

$fs-xl: (
  null: (32px,1.1),
  sm:   (40px,1.1),
  md:   (60px,1.1),
  lg:   (60px,1.1),
);
