/**
 * -----------------------------------------------------------------------------
 * File: theme/brand
 * -----------------------------------------------------------------------------
 *
 */

.brand {
  display: block;
  width: 100%;

  h1 {
    color: $color-orange;
    @include font-bold();
    @include font-size($fs-lg);
    margin: 0 !important;
  }
}